parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    excludePaths:
        - vendor
        - srv_demo
    ignoreErrors:
        - '#Function GetC not found.#'
        - '#Method Swoole\\Server::reload\(\) invoked with 1 parameter#'
        - '#Empty array passed to foreach.#'
        - '#Call to function method_exists\(\) with \$this#'